* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* velikost uposteva padding, border in margin */
}

@font-face {
  font-family: "Press Start";
  src: url("../fonts/press-start.regular.ttf");
  unicode-range: U+00-FF;
}


body {
  background-image: url("../images/background.png");
}

/* #stats {
  right: 2%;
  width: 20%;
  height: 30%;
}
#stats span {
  display: block;
  margin-top: 5%;
  margin-left: 5%;
  width: 100%;
  font-size: 12px;
} */
/* 
.playerimg {
  width: 8%;
  height: 6%;
  margin-left: 0.5%;
}
.bulletimg {
  width: 4%;
  height: 8%;
  margin-left: 0.5%;
} */

.grid-container {
  display: grid;
  height: 100%;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 15% 70% 15%;
}

.grid-item {
  color: white;
  font-family: "Press Start";
  /* border-radius: 2%; */
  background-color: rgba(0, 0, 0, 0.6);
  border: 0.5vh solid rgba(255, 255, 255, 1);
  text-align: center;
  border-collapse: collapse;
  
  
}

.item1 {
  grid-column: 1 / 4;
  grid-row: 1;
  font-size: 1.5vw;
  border: 0;
  padding: 1%;
}

.item2 {
  grid-column: 1;
  grid-row: 2;
  padding: 12%;
  padding-top: 0%;
  
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 1px 3px rgba(204, 197, 197, 0.774);
  margin: auto;
  color: white;
}

.item2 nav a {
  padding: 7%;
  margin-top: 15%;
  font-size: 0.8vw;
  line-height: 2;
 
}

a:hover {
  background-color: #313536;
}

.item3 {
  grid-column: 2;
  grid-row: 2;
  padding: 12%;
  padding-top: 0%;
}


.item4 {
  grid-column: 3;
  grid-row: 2;
  padding: 12%;
  padding-top: 0%;
}


.item5 {
  grid-column: 2;
  grid-row: 3;
  padding-top: 0%;

}

#inputText{
  text-align: center;
  padding-top: 5%;
}
#inputForm{
  padding-top: 5%;
  width: 50%;
  margin: 0 auto;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Press Start";
}

#login{
  color: white;
  padding: 5%;
  margin-top: 10%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Press Start";
}

#inputForm input{
  margin-bottom: 8%;
}

#inputForm input, select{
  color: white;
  background-color: rgba#0e0f0f;
  opacity: 0.2;
}




