@font-face {
  font-family: "Press Start";
  src: url("../fonts/press-start.regular.ttf");
  unicode-range: U+00-FF;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/background.png");
  color: white;
  font-family: "Press Start";
  text-align: center;
}

.colorClass {
  background-color: rgba(20, 20, 20, 0.3);
  border: 0.3vh solid rgba(255, 255, 255, 1);
  border-radius: 1vh;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.header {
  font-size: 2vw;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li,
#loginButton,
#continueButton {
  padding: 4%;
  margin-bottom: 5%;
  background-color: rgba(0, 0, 0, 1);
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(204, 197, 197, 0.774);
}

.menu li:hover,
#inputForm input[type="submit"]:hover,
#continueButton:hover {
  background-color: #313536;
  cursor: pointer;
}

.aside {
  text-align: left;
  font-size: 2.8vw;
  line-height: 6vw;
}

#inputText {
  text-align: center;
}

#inputForm input[type="text"] {
  width: 100%;
  padding: 3%;
  margin-top: 2%;
  margin-bottom: 10%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Press Start";
  color: white;
}

#inputForm input[type="submit"] {
  font-family: "Press Start";
  margin-top: 5%;
  padding: 3%;
  color: white;
  background-color: black;
}

#inputForm input {
  background-color: #0e0f0f;
  opacity: 1;
  margin-bottom: 8%;
}

.controls {
  width: 30%;
  width: 20%;
}

#InstructionsText {
  text-align: left;
  font-size: 3vw;
  line-height: 5vw;
}

#continueButton {
  font-family: inherit;
  padding: 3%;
  margin-top: 5%;
}

#scoreInstructions {
  font-size: 3.3vw;
  text-align: left;
  line-height: 5vw;
  margin-bottom: 8%;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  border: 1vw solid rgb(17, 17, 17);
  font-size: 2.8vw;
  margin-bottom: 6%;
  width: 100%;
}

caption {
  text-align: left;
  margin-bottom: 2%;
}

tr {
  /* Prevent text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

tr:hover td {
  background-color: rgb(102, 107, 104);
}

th {
  text-align: center;
  background-color: rgb(43, 40, 40);
  color: white;
  padding: 0.5%;
  padding: 2%;
  line-height: 3.5vw;
}

td {
  text-align: center;
  border: 1vw solid rgb(17, 17, 17);

  user-select: none;
  padding: 2%;
  border: 0.5vw solid rgb(17, 17, 17);
  background-color: rgb(72, 77, 74);
  font-size: 2.5vw;
}

#orderText {
  font-size: 3.3vw;
  text-align: left;
  margin-left: -8%;
}

#orderColumn {
  color: white;
  font-family: "Press Start";
  padding: 2%;
  background-color: rgb(17, 17, 17);
  font-size: 3vw;
  margin-bottom: 4%;
}

.playerimg {
  width: 5%;
}
.bulletimg {
  width: 5%;
  margin-bottom: -3%;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

#sources {
  text-align: left;
  padding: 1%;
  font-size: 3vw;
  line-height: 4vw;
  font-size: 2.8vw;
}

#sources ul {
  padding: 2%;
}

#sources li {
  margin: 5% 0;
}

#sources h2 {
  text-align: center;
}

#sources a {
  color: white;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  .aside {
    font-size: 1vw;
    line-height: 2vw;
  }

  #controls {
    display: none;
  }
  #inputForm {
    text-align: center;
  }

  #inputForm input[type="text"] {
    width: 50%;
    margin: 4%;
  }

  #inputForm #fname {
    margin-top: 5%;
  }

  #InstructionsText {
    text-align: left;
    font-size: 1vw;
    line-height: 2vw;
  }

  #scoreInstructions {
    font-size: 1vw;
    text-align: left;
    margin-bottom: 5%;
    line-height: 1.5vw;
  }

  table {
    font-size: 1vw;
    margin-bottom: 5%;
  }

  caption {
    text-align: left;
    margin-bottom: 2%;
    font-size: 0.8vw;
  }

  th {
    line-height: 1.5vw;
    font-size: 1vw;
  }

  td {
    font-size: 1vw;
    padding: 1.5%;
  }

  #orderText {
    font-size: 1vw;
    margin-left: -50%;
  }

  #orderColumn {
    font-size: 0.8vw;
    padding: 1.5%;
  }

  #canvasWrapper {
    padding: 0;
  }


  #sources {
    font-size: 0.8vw;
    line-height: 1.5vw;
  }
  
  #sources ul {
    padding: 1%;
  }
  
  #sources li {
    margin: 1% 0;
  }
  

}
