Naloge/3nd_homework_assignment/3nd_homework_assignment
Naloge/3nd_homework_assignment/oddaja
Naloge/1st_homework_assignment/sources.txt
Naloge/1st_homework_assignment/sources.txt
Naloge/1st_homework_assignment.zip
*.zip
*.gdoc
dodatna_seminarska_naloga\
Naloge/dodatna_seminarska_naloga/DodatnaSeminarskaNaloga.docx
Naloge/dodatna_seminarska_naloga/DodatnaSeminarskaNaloga.pdf
Naloge/dodatna_seminarska_naloga/Selection_002.png
Naloge/dodatna_seminarska_naloga/Selection_004.png
Naloge/dodatna_seminarska_naloga/Selection_003.png
Naloge/dodatna_seminarska_naloga/Selection_005.png
Naloge/dodatna_seminarska_naloga/Selection_001.png
Naloge/3nd_homework_assignment/3dn (1).pdf
Naloge/3nd_homework_assignment/notes.txt
Naloge/3nd_homework_assignment/poročilo.docx
Naloge/3nd_homework_assignment/poročilo.pdf
Naloge/3nd_homework_assignment/podatkovna_baza.mwb
Naloge/3nd_homework_assignment/podatkovna_baza.png
Naloge/3nd_homework_assignment/restavracija (1).sql
Naloge/3nd_homework_assignment/restavracija.sql
Naloge/3nd_homework_assignment/restavracija_konceptualni_mode.jpg
Naloge/3nd_homework_assignment/Restavracija_izvoz.sql
Naloge/3nd_homework_assignment/restavracija_logicni_mode.jpg
Naloge/3nd_homework_assignment/shema_baze.pdf
